<template>
    <svg xmlns="http://www.w3.org/2000/svg" :width="size" :height="size" :viewBox="`0 0 ${size} ${size}`" @mouseover="hover = true" @mouseleave="hover = false">
        <path :fill="hover ? color_hover : color" d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z"/>
    </svg>
</template>

<script>
import {COLORS} from "@/constants"

export default {
    props: {
        size: {
            type: String,
            required: true,
            default: "18"
        },
        color: {
            type: String,
            required: true,
            default: COLORS.dark
        },
        color_hover: {
            type: String,
            default: COLORS.white
        }
    },

    data() {
        return {
            hover: false
        }
    }
}
</script>