@import "_colors.scss";
@import "_mixins.scss";

*,
*::before,
*::after {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	word-wrap: break-word;
    outline: 0;
}

@supports ( font-variation-settings: normal ) {
    body {
        @include secondary-font;
    }
}

body {
    @include secondary-font;
    font-size: 14px;
    line-height: 1.4;
    color: $darker;
    background: $white;
    position: relative;

    &.dark-mode {
        background-color: $darkest;
        color: $white;
    }

    .bg-layer {
        position: absolute;
        width: 100%;
        height: 700px;
        background-color: $dark;
        top: 0;
        left: 0;
        display: none;

        .dark-mode & {
            background-color: $darker;
        }

        @media screen and (min-width: 1000px) {
            display: block;
        }
    }

    .wrapper {
        width: 100%;
        max-width: 1290px;
        margin: 0 auto;
        padding: 0 20px;
    }

    a {
        text-decoration: none;
        color: $fucsia;
        
        &:hover {
            text-decoration: none;
        }
    }

    h1, h2, h3 {
        margin: 0;
        @include main-font;
    }

    @keyframes live-dot {
        from {
            background-color: $fucsia;
        }
        
        to {
            background-color: transparent;
        }
    }
    
    .button-live {
        @include flex-center;
        @include main-font;
        background-color: transparent;
        color: $red;
        padding: 12px 0;
        text-transform: uppercase;
        cursor: pointer;
        font-size: 12px;
        border-radius: 4px;
        position: relative;
        
        &:before {
            content: "";
            height: 6px;
            width: 6px;
            display: block;
            border-radius: 50%;
            background-color: $red;
            margin-right: 4px;
            animation: live-dot 1.5s ease-in-out infinite;
        }

        &__now {
            background-color: $red;
            color: $white;
            font-size: 10px;
            margin-left: 4px;
            padding: 2px 4px 1px;
            font-weight: 800;
        }
    }

    // Logo
        .logo {
            width: 100px;
            height: 40px;
            display: block;
            background: url("../assets/images/logo_dark.svg") no-repeat center / 100px;

            &--is-dark {
                background-image: url("../assets/images/logo_dark.svg");
            }

            @media screen and (min-width: 1000px) {
                width: 120px;
                background-size: 120px;
                height: 50px;

                &:not(.logo--is-dark) {
                    background-image: url("../assets/images/logo_white.svg");
                }
            }
        }

        &.dark-mode {
            .logo {
                background-image: url("../assets/images/logo_white.svg");
            }
        }
    // .Logo

    // Main
        .main {
            &__content {
                min-height: calc(100vh - 320px);
                margin-bottom: 120px;
                padding-top: 80px;

                @media screen and (min-width: 1000px) {
                    padding-top: 0;
                }
            }

            &__wrapper {
                max-width: 1280px;
                margin: 0 auto;
                z-index: 1;
                position: relative;
                padding: 0 15px;
            }

            &--is-loading {
                overflow: hidden;
                max-height: 100vh;
            }
        }
    // .Main

    // Video embed
        .video-embed {
            &__iframe {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                border: 0;
                background-color: $darkest;
                z-index: 3;
            }
        }
    // .Video embed

    // Gutenberg Blocks
        .wp-block {
            &-embed-youtube,
            &-gallery,
            &-image,
            &-quote {
                margin: 20px 0;
                width: 100%;
                position: relative;
                left: 0;

                @media screen and (min-width: 1000px) {
                    margin: 40px 0;
                    width: 120%;
                    left: -10%;
                }

                figcaption,
                cite {
                    font-style: normal;
                    opacity: 0.6;
                    font-size: 12px;
                    font-weight: 600;
                }

                img {
                    width: 100%;
                }

                p {
                    @include secondary-font;
                    font-weight: 700;
                    font-size: 16px;
                    letter-spacing: -.4px;
                    line-height: 1.3;
                    margin: 0 0 5px;
                }
            }

            &-image {
                @media screen and (min-width: 1000px) {
                    left: -10%;
                    width: 120%;
                    margin: 40px 0;

                    figcaption,
                    cite {
                        font-size: 14px;
                    }
                }
            }

            &-quote {
                padding-left: 40px;

                &:before {
                    content: "";
                    background: url("../assets/images/quote_red.svg") no-repeat center / 30px;
                    height: 30px;
                    width: 30px;
                    position: absolute;
                    left: 0;
                    top: 0;
                }

                @media screen and (min-width: 768px) {
                    padding-left: 60px;

                    &:before {
                        height: 50px;
                        width: 50px;
                        background-size: 50px;
                    }

                    p {
                        font-size: 22px;
                        letter-spacing: -.6px;
                        margin-bottom: 10px;
                    }
                }

                @media screen and (min-width: 1000px) {
                    padding-left: 0;

                    &:before {
                        left: -80px;
                        height: 60px;
                        width: 60px;
                        background-size: 60px;
                    }

                    p {
                        font-size: 30px;
                        letter-spacing: -.9px;
                        margin-bottom: 15px;
                    }
                }
            }

            &-separator {
                margin: 60px 0;
                border: 0;
                position: relative;
                height: 4px;
                @include flex-center;

                &:before,
                &:after {
                    content: "";
                    background: $fucsia;
                    width: 20px;
                    height: 100%;
                    border-radius: 12px;
                }

                &:after {
                    width: 4px;
                    margin-left: 2px;
                }
            }

            &-gallery {
                display: flex;
                flex-wrap: wrap;
                list-style-type: none;
                padding: 0;

                .blocks-gallery-grid {
                    display: grid;
                    grid-gap: 10px;
                    padding: 0;
                    margin: 0;
                    grid-template-columns: repeat(auto-fit, minmax(32%, 1fr));
                    list-style: none;
                    
                    .blocks-gallery-item {
                        width: 100%;
                        align-self: inherit;

                        figure {
                            display: flex;
                            align-items: flex-end;
                            justify-content: flex-start;
                            margin: 0;
                            height: 100%;

                            img {
                                height: 100%;
                                flex: 1;
                                -o-object-fit: cover;
                                object-fit: cover;
                            }
                        }

                        &:last-of-type {
                            grid-column: span 3;
                        }
                    }
                }
            }

            &-embed-youtube {
                height: 0;
                padding-bottom: 56%;

                .wp-block-embed__wrapper {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }

                @media screen and (min-width: 1000px) {
                    padding-bottom: 65%;
                }
            }
        }
    // .Gutenberg Blocks
}